🎸 IG Bandas LATAM — Flow 01_ Discovery + Webhook Dashboard.json
{
  "name": "🎸 IG Bandas LATAM — Flow 01: Discovery + Webhook Dashboard",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2208,
        1376
      ],
      "id": "c69f442f-3d97-4f71-b9e5-3154afc85b06",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-flow1",
        "options": {
          "responseData": "{\"status\":\"started\",\"message\":\"Flow 01 iniciado desde dashboard\"}"
        }
      },
      "id": "da0b272e-3f92-44f2-a744-e0e0e8acff09",
      "name": "🌐 Webhook /run-flow1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2208,
        1536
      ],
      "webhookId": "a4689641-189f-4b17-b91b-d4a748636178",
      "notes": "Dashboard llama POST /run-flow1 con { offset, hashtags_batch, results_per_hashtag }. Responde inmediatamente."
    },
    {
      "parameters": {
        "jsCode": "// ─── CONFIG BASE + OVERRIDES DEL DASHBOARD ───\n// Funciona desde Schedule Trigger Y desde webhook del dashboard.\n// El dashboard puede sobrescribir HASHTAG_OFFSET, HASHTAGS_BATCH, RESULTS_PER_HASHTAG.\n// El resto (tokens, sheet, hashtags, filtros) siempre viene del config base.\n\nconst input = $input.first().json;\n\n// Si el input tiene 'body', vino del webhook del dashboard\nconst webhookBody = input.body || {};\n\n// ── CONFIG BASE (fallback / valores por defecto) ──\nconst config = {\n  APIFY_TOKEN: 'apify_api_REPLACED_BY_ANTIGRAVITY_FOR_SECURITY',\n  SHEET_ID: '148Q0yaGAF5Y23rQPUMy7mgQbYFhaql1CVUfciWNE_PE',\n  HASHTAGS_BATCH: '3',\n  RESULTS_PER_HASHTAG: '30',\n  MAX_PROFILES_TO_ENRICH: '40',\n  MIN_FOLLOWERS: '300',\n  MAX_FOLLOWERS: '500000',\n  ALL_HASHTAGS_JSON: '[\"rockargentino\",\"bandarock\",\"metalargentino\",\"bluesargentino\",\"jazzargentino\",\"indieargentino\",\"punkargentino\",\"folkargentino\",\"rockchileno\",\"metalchile\",\"indiechile\",\"rockmexico\",\"bandamexico\",\"metalmexico\",\"indiemexico\",\"jazzmexico\",\"rockcolombia\",\"indiecolombia\",\"metalcolombia\",\"rockuruguay\",\"rockperu\",\"rockvenezuela\",\"rockcr\",\"rockparaguay\",\"indielatam\",\"alternativolatam\",\"postpunklatam\",\"shoegazelatam\",\"grungelatam\",\"hardrocklat\",\"progresivometal\",\"newwavelatam\"]',\n  HASHTAG_OFFSET: '0'\n};\n\n// ── OVERRIDES DE PARÁMETROS DEL DASHBOARD ──\nif (webhookBody.offset !== undefined && parseInt(webhookBody.offset) >= 0) {\n  config.HASHTAG_OFFSET = String(parseInt(webhookBody.offset));\n  console.log(`📱 Dashboard sobrescribió offset: ${config.HASHTAG_OFFSET}`);\n}\n\nif (webhookBody.hashtags_batch && parseInt(webhookBody.hashtags_batch) > 0) {\n  config.HASHTAGS_BATCH = String(parseInt(webhookBody.hashtags_batch));\n  console.log(`📱 Dashboard sobrescribió batch: ${config.HASHTAGS_BATCH}`);\n}\n\nif (webhookBody.results_per_hashtag && parseInt(webhookBody.results_per_hashtag) > 0) {\n  config.RESULTS_PER_HASHTAG = String(parseInt(webhookBody.results_per_hashtag));\n  console.log(`📱 Dashboard sobrescribió results: ${config.RESULTS_PER_HASHTAG}`);\n}\n\nconst source = webhookBody.offset !== undefined ? 'Dashboard (webhook)' : 'Schedule Trigger / Manual';\nconsole.log(`🔧 Fuente: ${source}`);\nconsole.log(`📋 Config final: offset=${config.HASHTAG_OFFSET}, batch=${config.HASHTAGS_BATCH}, results=${config.RESULTS_PER_HASHTAG}`);\n\nreturn [{ json: config }];"
      },
      "id": "2769f6f2-4556-4fea-8a1e-21a79052e0c9",
      "name": "⚙️ Config + Override Dashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        1536
      ],
      "notes": "Config base hardcodeada. El dashboard puede sobrescribir offset, batch y results_per_hashtag."
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.first().json;\nconst allHashtags = JSON.parse(cfg.ALL_HASHTAGS_JSON);\nconst batchSize = parseInt(cfg.HASHTAGS_BATCH) || 3;\nconst offset = parseInt(cfg.HASHTAG_OFFSET) || 0;\n\nconst batch = allHashtags.slice(offset, offset + batchSize);\nconst nextOffset = (offset + batchSize) >= allHashtags.length ? 0 : offset + batchSize;\n\nconsole.log(`📋 Hashtags en este run: ${batch.join(', ')}`);\nconsole.log(`💡 Próximo offset a usar: ${nextOffset} (de ${allHashtags.length} hashtags totales)`);\n\nreturn [{\n  json: {\n    ...cfg,\n    hashtags_batch: batch,\n    next_offset: nextOffset,\n    total_hashtags: allHashtags.length\n  }\n}];"
      },
      "id": "cb8d8d47-e2c0-491f-acfe-e77921e6e3ba",
      "name": "🎯 Seleccionar Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        1536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/apify~instagram-hashtag-scraper/run-sync-get-dataset-items?token={{ $json.APIFY_TOKEN }}&timeout=120",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ hashtags: $json.hashtags_batch, resultsLimit: parseInt($json.RESULTS_PER_HASHTAG), type: 'post' }) }}",
        "options": {
          "timeout": 130000
        }
      },
      "id": "cccc1946-d0be-4559-a6f1-2eaee4292dee",
      "name": "🔍 Apify: Hashtag Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        1536
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst cfg = $('⚙️ Config + Override Dashboard').first().json;\nconst maxToEnrich = parseInt(cfg.MAX_PROFILES_TO_ENRICH) || 40;\n\nconst seen = new Set();\nconst usernames = [];\nlet rawCount = 0;\n\nfor (const item of items) {\n  const data = item.json;\n  const posts = Array.isArray(data) ? data : [data];\n\n  for (const post of posts) {\n    rawCount++;\n    const username = post.ownerUsername || post.username || (post.author && post.author.username);\n    if (username && typeof username === 'string' && username.length > 0) {\n      const lower = username.toLowerCase().trim();\n      if (!seen.has(lower)) {\n        seen.add(lower);\n        usernames.push(username.trim());\n      }\n    }\n  }\n}\n\nconst limited = usernames.slice(0, maxToEnrich);\n\nconst USERNAME_EXCLUDE = [\n  'shop', 'store', 'tienda', 'ropa', 'clothing', 'boutique',\n  'bar_', '_bar', 'pub_', 'cerveza', 'beer',\n  'estudio', 'studio', 'records', 'label', 'sello',\n  'booking', 'festival', 'agencia', 'agency',\n  'revista', 'magazine', 'news', 'media', 'press',\n  'frases', 'quotes', 'frasesde', 'memes',\n  'official_merch', 'merch', 'fans_de', 'fanpage'\n];\n\nconst preFiltered = limited.filter(u =>\n  !USERNAME_EXCLUDE.some(kw => u.toLowerCase().includes(kw))\n);\n\nconsole.log('Posts procesados: ' + rawCount);\nconsole.log('Usernames únicos: ' + usernames.length);\nconsole.log('Después de límite (' + maxToEnrich + '): ' + limited.length);\nconsole.log('Después de pre-filtro username: ' + preFiltered.length);\nconsole.log('Ahorrado en Profile Scraper: ' + (limited.length - preFiltered.length) + ' llamadas');\n\nif (preFiltered.length === 0) {\n  throw new Error('No quedaron usernames tras el pre-filtro. Revisar hashtags o ampliar el límite.');\n}\n\nreturn [{\n  json: {\n    usernames: preFiltered,\n    APIFY_TOKEN: cfg.APIFY_TOKEN,\n    MIN_FOLLOWERS: cfg.MIN_FOLLOWERS,\n    MAX_FOLLOWERS: cfg.MAX_FOLLOWERS,\n    stats: {\n      raw_posts: rawCount,\n      unique_users: usernames.length,\n      after_limit: limited.length,\n      pre_filtered: preFiltered.length,\n      saved_calls: limited.length - preFiltered.length\n    }\n  }\n}];"
      },
      "id": "62345e28-cea9-4727-b1d6-dc0b77b5bd79",
      "name": "🗂️ Extraer Usernames",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/apify~instagram-profile-scraper/run-sync-get-dataset-items?token={{ $json.APIFY_TOKEN }}&timeout=180",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ usernames: $json.usernames }) }}",
        "options": {
          "timeout": 200000
        }
      },
      "id": "96e88c89-7990-4fd6-a4e8-e4f10c9c41d2",
      "name": "👤 Apify: Profile Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        1536
      ]
    },
    {
      "parameters": {
        "jsCode": "const STRONG_BAND_KW = [\n  'banda', 'band', 'grupo musical', 'grupo de rock', 'grupo de metal',\n  'grupo de blues', 'grupo de jazz', 'grupo de punk', 'grupo de folk',\n  'somos una banda', 'somos un grupo', 'cuarteto de rock', 'trío de rock',\n  'power trio', 'rock band', 'metal band', 'punk band', 'jazz band',\n  'en vivo desde', 'próximos shows', 'próximo show', 'fecha de show',\n  'nueva fecha', 'nuevas fechas', 'este viernes en', 'este sábado en',\n  'tocamos en', 'tocando en', 'our band', 'nuestra banda', 'nuestro grupo'\n];\n\nconst RELEASE_KW = [\n  'nuevo ep', 'nuevo album', 'nuevo álbum', 'nuevo single',\n  'new ep', 'new album', 'new single', 'out now', 'ya disponible',\n  'escuchalo en', 'escúchalo en', 'streamea', 'en spotify', 'en todas las plataformas',\n  'primer disco', 'segundo disco', 'tercer disco'\n];\n\nconst GENRE_KW = [\n  'rock', 'metal', 'jazz', 'blues', 'punk', 'folk', 'indie',\n  'grunge', 'hardcore', 'shoegaze', 'postpunk', 'post-punk',\n  'progresivo', 'psicodélico', 'garage', 'darkwave', 'stoner', 'doom'\n];\n\nconst MEMBER_KW = [\n  'guitarrista', 'baterista', 'bajista', 'cantante', 'vocalista',\n  'guitarist', 'drummer', 'bassist', 'vocalist', 'tecladista',\n  'compositor', 'songwriter'\n];\n\nconst GOOD_CATEGORIES = [\n  'musician', 'band', 'music', 'musico', 'músico',\n  'banda', 'artista', 'artist', 'rock', 'metal', 'jazz',\n  'blues', 'punk', 'indie', 'cantante', 'singer', 'composer',\n  'compositor', 'dj', 'grupo musical'\n];\n\nconst BAD_CATEGORIES = [\n  'radio', 'emisora', 'clothing', 'ropa', 'fashion', 'moda',\n  'bar', 'pub', 'restaurant', 'venue', 'recording studio',\n  'estudio', 'label', 'record', 'sello', 'booking', 'agency',\n  'agencia', 'media', 'news', 'noticias', 'blogger', 'blog',\n  'tienda', 'shop', 'store', 'brand', 'marca', 'quotes',\n  'frases', 'memes', 'humor', 'community', 'comunidad',\n  'festival', 'promoter', 'promotora', 'magazine', 'revista'\n];\n\nconst HARD_EXCLUDE_BIO = [\n  'tienda', 'shop', 'store', 'ropa', 'indumentaria', 'camisetas', 'remeras',\n  'envíos', 'envios', 'stock', 'talle', 'talles', 'compras', 'pedidos',\n  'descuento', 'precio', 'mayorista', 'minorista', 'local de', 'boutique',\n  'accesorios', 'calzado', 'zapatillas', 'colección', 'coleccion',\n  'bar ', 'pub ', 'boliche', 'cervecería', 'cerveceria', 'tragos',\n  'gastronomía', 'gastronomia', 'reservas al', 'reserva tu mesa',\n  'cocina', 'restaurante', 'parrilla', 'capacidad',\n  'estudio de grabación', 'estudio de grabacion', 'grabación profesional',\n  'mezcla y masterización', 'productor musical', 'produccion musical',\n  'alquiler de sala', 'sala de ensayo',\n  'booking', 'management', 'agencia de', 'promotora', 'sello discográfico',\n  'sello independiente', 'discográfica', 'revista', 'portal de música',\n  'periodismo', 'cobertura', 'entradas', 'ticketing', 'festival de',\n  'trap', 'reggaeton', 'regueton', 'reggaetón', 'cumbia', 'bachata',\n  'merengue', 'dembow', 'urbano', 'rap', 'perreo', 'salsa', 'mambo',\n  'vallenato', 'corrido', 'norteño', 'banda sinaloense',\n  'frases de', 'quotes de', 'frase del día', 'pensamientos de'\n];\n\nconst EXCLUDE_USERNAME = [\n  'shop', 'store', 'tienda', 'ropa', 'indumentaria', 'records_label',\n  'booking', 'festival', 'bar_rock', 'pub_rock', 'estudio_de',\n  'studio_oficial', 'revista', 'news', 'media', 'official_merch', 'merch',\n  'frases', 'quotes', 'frasesde'\n];\n\nconst cfg = $('⚙️ Config + Override Dashboard').first().json;\nconst MIN = parseInt(cfg.MIN_FOLLOWERS) || 300;\nconst MAX = parseInt(cfg.MAX_FOLLOWERS) || 500000;\nconst today = new Date().toISOString().split('T')[0];\n\nconst items = $input.all();\nconst valid = [];\nlet stats = { private: 0, followers: 0, badCategory: 0, hardExcludeBio: 0, usernameExclude: 0, noEvidence: 0 };\n\nfor (const item of items) {\n  const data = item.json;\n  const profiles = Array.isArray(data) ? data : [data];\n\n  for (const p of profiles) {\n    if (!p || !p.username) continue;\n\n    const bio = (p.biography || p.bio || '').toLowerCase();\n    const username = (p.username || '').toLowerCase();\n    const category = (p.businessCategoryName || '').toLowerCase();\n    const followers = p.followersCount || p.followers || 0;\n    const isPrivate = p.private || p.isPrivate || false;\n\n    if (isPrivate) { stats.private++; continue; }\n    if (followers < MIN || followers > MAX) { stats.followers++; continue; }\n    if (BAD_CATEGORIES.some(kw => category.includes(kw))) { stats.badCategory++; continue; }\n    if (HARD_EXCLUDE_BIO.some(kw => bio.includes(kw))) { stats.hardExcludeBio++; continue; }\n    if (EXCLUDE_USERNAME.some(kw => username.includes(kw))) { stats.usernameExclude++; continue; }\n\n    let score = 0;\n    if (GOOD_CATEGORIES.some(kw => category.includes(kw))) score += 4;\n    if (STRONG_BAND_KW.some(kw => bio.includes(kw))) score += 3;\n    if (RELEASE_KW.some(kw => bio.includes(kw))) score += 2;\n    if (MEMBER_KW.some(kw => bio.includes(kw))) score += 2;\n    if (GENRE_KW.some(kw => bio.includes(kw))) score += 1;\n    if (GENRE_KW.some(kw => username.includes(kw))) score += 1;\n\n    if (score < 2) { stats.noEvidence++; continue; }\n\n    const recentTags = (p.latestPosts || []).flatMap(post => post.hashtags || []).join(' ').toLowerCase();\n    let country = 'LATAM';\n    if (recentTags.includes('argentina') || recentTags.includes('buenosaires')) country = 'ARG';\n    else if (recentTags.includes('chile') || recentTags.includes('santiago')) country = 'CHI';\n    else if (recentTags.includes('mexico') || recentTags.includes('cdmx')) country = 'MEX';\n    else if (recentTags.includes('colombia') || recentTags.includes('bogota')) country = 'COL';\n    else if (recentTags.includes('uruguay') || recentTags.includes('montevideo')) country = 'URU';\n    else if (recentTags.includes('peru') || recentTags.includes('lima')) country = 'PER';\n    else if (recentTags.includes('venezuela') || recentTags.includes('caracas')) country = 'VEN';\n    else if (recentTags.includes('ecuador') || recentTags.includes('quito')) country = 'ECU';\n    else if (recentTags.includes('bolivia')) country = 'BOL';\n    else if (recentTags.includes('paraguay')) country = 'PAR';\n\n    valid.push({\n      username: p.username,\n      profile_url: `https://www.instagram.com/${p.username}`,\n      full_name: p.fullName || '',\n      bio: (p.biography || p.bio || '').substring(0, 400),\n      followers,\n      following: p.followsCount || 0,\n      posts_count: p.postsCount || 0,\n      website: p.externalUrl || '',\n      ig_category: p.businessCategoryName || '',\n      filter_score: score,\n      country_tag: country,\n      status: 'pending',\n      date_added: today,\n      dm_sent_date: '',\n      notes: ''\n    });\n  }\n}\n\nconsole.log(`\\n📊 FILTRO ESTRICTO:`);\nconsole.log(`  ✅ Bandas válidas: ${valid.length}`);\nconsole.log(`  🔒 Privadas: ${stats.private}`);\nconsole.log(`  📉 Followers fuera de rango: ${stats.followers}`);\nconsole.log(`  🏷️ Categoría IG excluida: ${stats.badCategory}`);\nconsole.log(`  🚫 Bio excluida: ${stats.hardExcludeBio}`);\nconsole.log(`  🔤 Username excluido: ${stats.usernameExclude}`);\nconsole.log(`  ❓ Sin evidencia (score < 2): ${stats.noEvidence}`);\n\nif (valid.length === 0) {\n  console.log('⚠️ Sin resultados.');\n  return [];\n}\n\nreturn valid.map(b => ({ json: b }));"
      },
      "id": "cff79cd0-68d6-4231-83d8-95a696802d71",
      "name": "🎸 Filtrar Bandas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        1536
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7f5028ff-9258-47d7-82ff-a80b3908d25e",
      "name": "📦 Procesar 1 a 1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Config + Override Dashboard').first().json.SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $('🎸 Filtrar Bandas').item.json.username }}",
            "profile_url": "={{ $('🎸 Filtrar Bandas').item.json.profile_url }}",
            "full_name": "={{ $('🎸 Filtrar Bandas').item.json.full_name }}",
            "bio": "={{ $('🎸 Filtrar Bandas').item.json.bio }}",
            "followers": "={{ $('🎸 Filtrar Bandas').item.json.followers }}",
            "following": "={{ $('🎸 Filtrar Bandas').item.json.following }}",
            "website": "={{ $('🎸 Filtrar Bandas').item.json.website }}",
            "country_tag": "={{ $('🎸 Filtrar Bandas').item.json.country_tag }}",
            "status": "pending",
            "date_added": "={{ $('🎸 Filtrar Bandas').item.json.date_added }}",
            "dm_sent_date": "={{ $('🎸 Filtrar Bandas').item.json.dm_sent_date }}",
            "notes": "={{ $('🎸 Filtrar Bandas').item.json.notes }}",
            "post_count": "={{ $('🎸 Filtrar Bandas').item.json.posts_count }}",
            "filter score": "={{ $('🎸 Filtrar Bandas').item.json.filter_score }}"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "following",
              "displayName": "following",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_count",
              "displayName": "post_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country_tag",
              "displayName": "country_tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_added",
              "displayName": "date_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dm_sent_date",
              "displayName": "dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filter score",
              "displayName": "filter score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "826563c5-90f2-4000-88e6-707df2e6a8b6",
      "name": "➕ Guardar en Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        1408
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqsZQaiam1jZUjjD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('⚙️ Config + Override Dashboard').first().json;\nconst batchNode = $('🎯 Seleccionar Batch').first().json;\n\nconsole.log('\\n========================================');\nconsole.log('✅ RUN COMPLETADO');\nconsole.log('========================================');\nconsole.log(`📋 Hashtags procesados: ${batchNode.hashtags_batch.join(', ')}`);\nconsole.log(`🔢 Próximo HASHTAG_OFFSET a usar: ${batchNode.next_offset}`);\nconsole.log(`💡 Cambia HASHTAG_OFFSET a ${batchNode.next_offset} para el próximo run`);\nconsole.log('========================================');\n\nreturn [{\n  json: {\n    status: 'completed',\n    hashtags_used: batchNode.hashtags_batch,\n    next_offset: batchNode.next_offset,\n    message: `Próximo run: cambia HASHTAG_OFFSET a ${batchNode.next_offset}`\n  }\n}];"
      },
      "id": "2e5ff312-3cae-4d97-acc1-447699b3b030",
      "name": "📊 Resumen Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        1696
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "⚙️ Config + Override Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Webhook /run-flow1": {
      "main": [
        [
          {
            "node": "⚙️ Config + Override Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Config + Override Dashboard": {
      "main": [
        [
          {
            "node": "🎯 Seleccionar Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Seleccionar Batch": {
      "main": [
        [
          {
            "node": "🔍 Apify: Hashtag Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Apify: Hashtag Scraper": {
      "main": [
        [
          {
            "node": "🗂️ Extraer Usernames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗂️ Extraer Usernames": {
      "main": [
        [
          {
            "node": "👤 Apify: Profile Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Apify: Profile Scraper": {
      "main": [
        [
          {
            "node": "🎸 Filtrar Bandas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎸 Filtrar Bandas": {
      "main": [
        [
          {
            "node": "📦 Procesar 1 a 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Procesar 1 a 1": {
      "main": [
        [
          {
            "node": "➕ Guardar en Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Resumen Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Resumen Run": {
      "main": [
        [
          {
            "node": "📦 Procesar 1 a 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b1e7af03-9346-4afa-8dcc-de886a10e9d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32906a5f2bdc653e88c8f6fde14f7365d097573b5e9053a6781ad64c78a4c371"
  },
  "id": "u8sW9ZhiNojoQXgL0qxdI",
  "tags": []
}